<%- include ('header.ejs') -%>

<header>
  <div class="smoothie">
    <img src="smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Youssef Chaker</h3>
    <a href="smoothies.ejs" class="btn">View Recipes</a>
  </div>
</header>
<%- include('footer.ejs'); -%>