<%- include ('header.ejs') -%>

<header>
  <div class="smoothie">
    <img src="icon.jpg" alt="">
  </div>
  <div class="headings">
    <h2 id="whiten">Classic Game Store</h2>
    <h3>By Youssef Chaker</h3>
    <a href="smoothies.ejs" class="btn">Store Access</a>
  </div>
</header>
<%- include('footer.ejs'); -%>