<%- include ('header.ejs') -%>
<form>
    <h2>Log In</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required/>
    <div class="email error"></div>
    <label for="pass">Password</label>
    <input type="password" name="pass" required/>
    <div class="pass error"></div>
    <a href="pass.ejs"><div>Forgot Password?</div></a>
    <button>log in</button>
</form>
<%- include('footer.ejs'); -%>