<%- include ('header.ejs') -%>
<form>
    <h2>Log In</h2>
    <label for="email">Email</label>
    <input type="text" name="email" id="em"/>
    <div id="emerr" style="color: red;"></div>
    <label for="pass">Password</label>
    <input type="password" name="pass" id="pass"/>
    <div id="passerr" style="color: red;"></div>
    <a href="pass.ejs" style="font-weight: bold ;text-decoration: underline;"><div>Forgot Password?</div></a>
    <button type="button" onclick="check()" >log in</button>
</form>
<script>
    function check(){
        var mailformat = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        em=document.getElementById("em");
        pass=document.getElementById("pass");
        emerr=document.getElementById("emerr");
        passerr=document.getElementById("passerr");
        if(em.value=="" || mailformat.test(em.value)==false){
            emerr.innerHTML="please fill in a valid mail";
            em.value=""
            setTimeout(function(){ emerr.innerHTML="";}, 2000);
            if(pass.value=="" || pass.value.search(/[A-Z]/) < 0 || pass.value.length<6){
                passerr.innerHTML="please fill in your password";
                pass.value="";
                setTimeout(function(){ passerr.innerHTML="";}, 2000);
            }
        }
        else{
            window.location.href = "/thank.ejs";
        }
    }
</script>
<%- include('footer.ejs'); -%>