<%- include ('header.ejs') -%>
<form>
    <h2>Password Restoration</h2>
    <h4>Fill in your Email to restore your Password</h4>
    <label for="email">Email</label>
    <input type="text" name="email" required/>
    <button type="button" onclick="direct()">Send Restoration Mail</button>
</form>

<script>
    function direct(){
        window.location.href = "/thank";
    }
</script>
<%- include('footer.ejs'); -%>