<%- include ('header.ejs') -%>
<form>
    <h2>Password Restoration</h2>
    <h4>Fill in your Email to restore your Password</h4>
    <label for="email">Email</label>
    <input type="email" name="email" id="em" required/>
    <div style="color: red;" id="res"></div>
    <button type="button" onclick="direct()">Send Rectification mail</button>
</form>
<script>
    function direct(){
        var mailformat = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        em=document.getElementById("em");
        res=document.getElementById("res");
        if(em.value!="" && mailformat.test(em.value)==true){
            window.location.href = "/thank.ejs";
        }
            else{
                res.innerHTML="Please put in a valid email adresse to continue the restoration process";
            em.vlaue="";
            setTimeout(function(){ res.innerHTML="";}, 2000);
            document.addEventListener('invalid', (function () {
  return function (e) {
    e.preventDefault();
    em.focus();
  };
})(),true);
    }   }   
</script>
<%- include('footer.ejs'); -%>