<%- include ('header.ejs') -%>
<h2 id="whiten">Click on the desired Picture to buy the desired Item</h2>
<ul class="recipes">
  <li class="recipe">
    <a href="buy.ejs" onclick="nes()"><img src="/nes.jpg"></a>
    <h4 id="nes">NES Console (25$)</h4>
    <p>Nintendo Entertinement System -1983</p>
  </li>
  <li class="recipe">
    <img src="/Gb.jpg">
    <h4>Gb Handheld (20$)</h4>
    <p>Game Boy -1989</p>
  </li>
  <li class="recipe">
    <img src="/snes.jpg">
    <h4>SNES Console (35$)</h4>
    <p>Super Nintendo Entertinement System -1990</p>
  </li>
  <li class="recipe">
    <img src="/n64.jpg">
    <h4>N64 Console (40$)</h4>
    <p>Nintendo 64 -1996</p>
  </li>
    <li class="recipe">
    <img src="/Gbc.jpg">
    <h4>Gbc Handheld (25$)</h4>
    <p>Game Boy -1998</p>
  </li>
  <li class="recipe">
    <img src="/gba.jpg">
    <h4>GBA Handheld Console (30$)</h4>
    <p>Game Boy Advance -2001</p>
  </li>
  <li class="recipe">
    <img src="/gc.jpg">
    <h4>GC Console (35$)</h4>
    <p>Game Cube Console -2002</p>
  </li>
  <li class="recipe">
    <img src="/ds.jpg">
    <h4>NDS Handheld Console (40$)</h4>
    <p>Nintendo DS -2004</p>
  </li>
  <li class="recipe">
    <img src="/wii.jpg">
    <h4>Wii Console (50$)</h4>
    <p>Wii -2006</p>
  </li>
</ul>
<script>
      function nes(){
        var item =document.getElementById("nes");
        

      }
      
</script>
<%- include('footer.ejs'); -%>