<%- include ('header.ejs') -%>
<h2 id="whiten" style="text-align: center;">Thank You for your Input please wait while we set up your request</h2>
<br>
<div class="loader"></div>
<%- include('footer.ejs'); -%>